#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* CHAT */

.message__input {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  position: relative;
}

/* .message__input > span {
  flex-grow: 1;
} */

.message__text {
  display: flex;
  flex-direction: column;
  font-family: RobotoLight;
  border-radius: 10px;
  padding: 0.5em;
}

.message__text > #displayName {
  font-size: 0.7em;
  font-family: RobotoBold;
}

.message__picture {
  display: flex;
  flex-direction: column;
}

.message__picture > img {
  border-radius: 100%;
  margin: 0.5em;
}

.col__message {
  display: flex;
  width: 50%;
  flex-grow: 1;
  flex: 1;
  /* position: absolute; */
  top: 0;
  left: 0;
  flex-direction: inherit;
}